PG_HOST=localhost
PG_PORT=5432 #(optionnal)
PG_DB=thermopro
PG_USER=postgres
PG_PASSWORD=Azerty123

SCAN_INTERVAL_SECONDS=30
MAP_REFRESH_MINUTES=20
LAST_SEEN_UPDATE_MINUTES=5
SENSOR_OFFLINE_MINUTES=15


DB_MAX_BATCH_SIZE=20
DB_INSERT_INTERVAL_SECONDS=10

# Execution Mode options: 
# - 'OFFLINE_SIMULATION' : Runs BLE scan and prints decoded data. Database pool is bypassed.
# - 'MOCK_INSERT'        : Establishes database pool connection but skips write operations (simulation).
# - 'SENSORS_ONLY'       : Connects and registers newly discovered devices, but drops measurement metrics.
# - 'FULL_PRODUCTION'    : Normal runtime behavior. All layers active.
APP_EXECUTION_MODE=OFFLINE_SIMULATION

# Log Level options:
# - 'INFO'    
# - 'WARNING'  
# - 'ERROR'   
APP_LOG_LEVEL=INFO 