# Environnement
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Exported CSV
*.csv

# SQL
*_dump.sql
migration.sql

# Sublime Text
*.sublime-workspace

# Other
temp.*
test.*
*.txt
*.zip
